*atn*.bin
*vec_fram*.txt
lungPatient*.mat
*log
*Slice*.dcm
p*_f*_m*.csv
*.zip
*.base64
*.bat
vmc++/bin/*
vmc++/data/*
vmc++/lib/*
vmc++/run/*
vmc++/compressed/*
vmc++/conf/*
vmc++/src/*
Fluence Resolution Test/Max fluence gantry angle spacing = *.mat
Fluence Resolution Test/SBRT max flu gantry angle spacing = *.mat
Fluence Resolution Test/stf/*
Fluence Resolution Test/convFrac Opt.mat
Fluence Resolution Test/convFrac *max flu gantry angle spacing = *.mat
Variance Sampling Test/varPrePostOpt*.mat
4DVMAT Optimization Results/lungPatient0/SBRT_*.mat
4DVMAT Optimization Results/lungPatient1/SBRT_*.mat
motionModel/stats*.mat
