*atn*.bin
*vec_fram*.txt
lungPatient*.mat
*log
*Slice*.dcm
p*_f*_m*.csv
*.zip
*.base64
*.bat
vmc++/bin/*
vmc++/data/*
vmc++/lib/*
vmc++/run/*
vmc++/compressed/*
vmc++/conf/*
vmc++/src/*
Fluence Resolution Test/Max fluence gantry angle spacing = *.mat
